{% extends 'base.twig' %}
{% block content %}

{% if auth_user.id > 0 %}  

    
    <section class= "accueil"> 
    <h3>Bienvenue sur le site du Coffre à jouer</h3>
    <p> Le Coffre à jouer à pour but de vous permettre de référencer les jeux en votre possession et de vous en faire découvrir une multitude d'autre</p>
    <p> Afin de vous permettre une utilisation optimale nous vous demandons donc de vous connecter ou de vous inscrire</p>
    <p> Cela vous permettra de pouvoir accèder à notre base de donnée et vous pourrez également contribuer à la mettre à jour.</p>
    <p> Alors n'attendez pas plus et rentrer dans l'univers du Coffre à jouer </p>
    
    <img src='assets/images/logo.png' alt="logo">
    </section> 
{% else %}   
    <h1> <a href="/connection">Connectez-vous pour accéder au site !</a>  </h1> 


{% endif %} 

{% endblock %}
      




    

   
 

