

<!DOCTYPE html>
<html lang="fr">
    <head>
        
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/simplegrid.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        {# <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> #}
         {% block head %}
   
    <title>{% block title %}Le coffre à jouer{% endblock %}  </title>
    {% endblock %}
    </head>
    <body> 
        <header>

            <h1> Le Coffre à jouer </h1>
 
        </header>
        <main>

<aside class="colGauche">
<div class="col-2-10">
<h3>Sommaire :</h3>
    <ul>
        <li> <a href="/">Accueil</a> </li>
        <li> <a href="/jeux/tous">Tous les jeux</a> </li>
        <li> <a href="/jeux/comte">Vos jeux</a> </li> 
        <li> <a href="/formulaire">Ajouter un nouveau jeu</a> </li>
    </ul>

</div>
</aside>

<article class="col-6-10">

        
        {% block content %}

        {% endblock %}
 
</article>

<aside class="colDroite">
<div class= "col-2-10">
<h3>Nos partenaires : </h3>


<p><a href="http://www.librairiemartelle.com/"><img src='/assets/images/martelle.jpg' alt='Martelle' /></a></p>
<p><a href="http://www.fnac.com/"><img src='/assets/images/fnac.jpg' alt='Fnac' /></a></p>


</div>
</aside>
</main>
      <footer>
         Merci de votre visite ! n'oubliez pas de vous déconnecter :)
         <h3> <a href="/deconnexion"> Deconnexion</a>  </h3> 
         

        </footer> 
    </body>
</html>