{% extends 'base.twig' %}
{% block content %}
<h3>  Connecter vous avec vos identifiants </h3>
    <form method="POST" action=""  >
        <fieldset>

            <label for="email">nom utilisateur</label>
            <input type="text" id="email" name="email"  />

            <label for="mdp">mdp</label>
            <input type="text" id="mdp" name="mdp" />

        </fieldset>
        <button>Connection</button>
    </form>

<h3> <a href="/creer_compte"> Ou inscrivez vous pour accéder au site !</a>  </h3>

{% endblock %}