
{% extends 'base.twig' %}
{% block content %}

<h3> Entrer vos futurs identifiants </h3>

 <form method="POST" action=""  >
    <fieldset>
    
        <label for="email">nom utilisateur</label>
        <input type="text" id="email" name="email"  />
    
        <label for="mdp">mdp</label>
        <input type="text" id="mdp" name="mdp" />
    
    </fieldset>
    
    <button>Enregistrement</button>
</form>

{% endblock %}