

{% extends 'base.twig' %}
{% block content %}

{% if auth_user.id > 0 %}  

<article class="formulairequest">

    <h2>{% if jeux.id %} Modification du jeu n°{{ jeux.id }} {% else %} Editer un nouveau jeu {% endif %}</h2>
    <section>
    <form method="POST" action=""   enctype="multipart/form-data">
        <fieldset>
            <section class="descriptif">
            <label for="descriptif">descriptif</label>
            <input type="text" id="descriptif" name="descriptif" accept="image/png, image/jpg" value="{{ jeux.descriptif }}" />
            </section>

            <label for="photo">Photo (uniquement des .JPG ou .PNG) : </label>

            <section class="inputPhoto">
            <input type="file" id="photo" name="photo" value="{{ jeux.photo}}"  accept="image/png, image/jpeg" />
            </section>

            {% if jeux.photo %}
            <div>
                <figure>
                    <img src="{{ jeux.avatar_b64 }}" />
                    <figcaption>Current avatar </figcaption>
                </figure>
            </div>
            {% endif %}

            <section> <label class="nom" for"nom">Nom : </label>
            <input type="text" id="nom" name="nom" value="{{ jeux.nom }}" />
            </section>
            <section>
            <label for="date">Date : </label>
            <input type="date" id="date" name="date" value="{{ jeux.date}}" />
            </section>    
            
            <section>
            <label for="id_support">Support : </label>
            <select name="id_support" id="id_support">
                {% for support in supports %}
                    <option {% if jeux.id_support == support.id %}selected="selected"{% endif %} value={{ support.id }}>{{ support.nom }}</option>
                {% endfor %}
            </select>
            </section>

            <section>
            <label for="id_editeur">Editeur : </label>
            <select name="id_editeur" id="id_editeur">
                {% for editeur in editeurs %}
                    <option {% if jeux.id_editeur == editeur.id %}selected="selected"{% endif %} value={{ editeur.id }}>{{ editeur.nom }}</option>
                {% endfor %}
            </select>
            </section>

            <section>
            <label for="id_types">Types :</label>
            <select name="id_types" id="id_types">
                {% for type in types %}
                    <option {% if jeux.id_types == type.id %}selected="selected"{% endif %} value={{ type.id }}>{{ type.nom }}</option>
                {% endfor %}
            </select>
            </section>

        </fieldset>
        </section>
        <section> <button>{% if jeux.id %} Edit {% else %} Enregistrer le jeu {% endif %}</button> </section>
    </form>
          
    
    



</article>
{% else %}   
    <h1> <a href="/connection">Connectez-vous pour accéder au site !</a>  </h1>
{% endif %} 
{% endblock %}