{% extends 'base.twig' %}
{% block content %}

{% if auth_user.id > 0 %}  
<article>

    <h3>{{ jeu.nom }}</h3>
    <section class= "description"><img src="{{ jeu.avatar_b64 }}" alt="image du jeu" /></section>
        <div><h4>Descriptif : </h4>
        {{ jeu.descriptif }}</div>

        <div><h4>Date : </h4>
        {{ jeu.date }}</div>

        <div><h4>Support : </h4>
        {{ jeu.support.nom }}</div>

        <div><h4>Editeur : </h4>
        {{ jeu.editeur.nom }}</div>

        <div><h4>Type : </h4>
        {{ jeu.types.nom }}   </div>

    <a href="/formulaire/{{ jeu.id }}">Modifier</a>
    <a href="/jeux/delete/{{ jeu.id }}">Supprimer</a>
    <a href="/jeux/comte/{{ jeu.id }}">ajouter à ma liste !!</a>   
</article>
        
{% else %}   
    <h1> <a href="/connection">Connectez-vous pour accéder au site !</a>  </h1>
{% endif %} 

{% endblock%}