
{% extends 'base.twig' %}
{% block content %}
    <h2> Votre liste de jeux: </h2>

{% if auth_user.id > 0 %} 

<article class="liste"> 
     {% for jex in jeux %}
        <section class="liste">

        
            <h3> {{ jex.jeux.nom }} </h3>
            <img src="{{ jex.jeux.avatar_b64 }}" alt="image du jeu" /> 
            <p> Date : {{ jex.jeux.date }}</p>
            <p> Support : {{ jex.jeux.support.nom }} </p>
            <p> Editeur : {{ jex.jeux.editeur.nom }} </p> 
            <p> Type : {{ jex.jeux.types.nom }} </p>
            <p> Descriptif : {{ jex.jeux.descriptif }}</p>  
            <a href="/jeux/delete/vosjeux/{{jex.id}}">Supprimer</a>
        </section>
     {% endfor %}
     </article>
      
{% else %}   
    <h1> <a href="/connection">Connectez-vous pour accéder aux sites !</a>  </h1>
{% endif %} 
{% endblock %}
      
