
{% extends 'base.twig' %}
{% block content %}
{% if auth_user.id > 0 %}  
    <h1> Tout les jeux de notre base : </h1>
        <article class="liste"> 
    {% for jeu in jeux %}
        <section class="liste">
            <h3> {{ jeu.nom }} </h3>
            <img src="{{ jeu.avatar_b64 }}" alt="avatar" />   
            <a href="/jeux/comte/{{ jeu.id }}">Ajouter à ma liste de jeu</a> 
            <a href="/jeux/details/{{jeu.id}}">Détails du jeu</a>     
            <a href="/jeux/delete/{{ jeu.id }}">Supprimer</a>
           
        </section>
    {% endfor %}
        </article>
{% else %}   
    <h1> <a href="/connection">Connectez-vous pour accéder au site !</a>  </h1>
{% endif %} 
    
{% endblock%}




      