* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
        background-color: rgb(131, 126, 106);
        /*background-image: url(Image/bobine.png);*/
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 100%;
        /*line-height: 25px;
        padding-bottom: 12em;*/
        min-height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        padding-bottom: 15%;
    }

/*CSS des liens */ 
a {
    display: inline-block;
    text-align: center;
}
a:link {color: rgb(255, 255, 255)}      /*lien non encore visité*/
a:visited {color: rgb(0, 0, 0)}     /*lien déjà visité*/
a:hover {color: rgb(250, 223, 102)}   /*lien survolé par la souris*/
a:active{color: #0a7938;}  /*lien au moment où on clique*/


/*CSS du header */
header {    /*display : grid;
            grid-template-columns: repeat(2, 1fr);
                        */
            background-size: 20%;
            background-color: rgb(131, 126, 106);
            text-align: center;
            background-image: url(../images/logo.png) ;
            padding: 5em;
            background-position: 100%;
            width:100%;
        
            
        }

article.articleHeader{
            display : grid;
            grid-template-columns: repeat(2, 1fr);
        }
header h1 {

    font-size: 500%;
    text-align:center;
    margin:0;
    color: rgb(212, 104, 104);
    text-shadow: rgb(231, 234, 235) 1px 0px 0px, rgb(231, 234, 235) 0.540302px 0.841471px 0px, rgb(231, 234, 235) -0.416147px 0.909297px 0px, rgb(231, 234, 235) -0.989992px 0.14112px 0px, rgb(231, 234, 235) -0.653644px -0.756802px 0px, rgb(231, 234, 235) 0.283662px -0.958924px 0px, rgb(231, 234, 235) 0.96017px -0.279415px 0px;      

}

/*CSS du footer */
html, body {
    margin : 0;
    padding : 0;
    height : 100%;
  }
   
wrapper {
    position : relative; /* référent du footer */
    min-height : 100%;
    background : green;
  }
   

   
footer {

    background: rgb(253, 169, 53);
    padding: 3em;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat',cursive;
    font-size: 120%;
    background-color: rgb(247, 108, 108);    
    border: 5px ridge rgba(0, 0, 0, .6);   

    }


/*CSS du main */
main {
    height: 80%;
}

main h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 350%; 
}

.accueil {
    display : block;
    text-align: center;
}
p {
    text-align: center;
}

label {
    color: rgb(51, 51, 51);
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 150%; 
}

/*.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}*/

main section, main article {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /**/
    column-gap: 20px;
}
.formulaireTitre{
    display:block;
   
}

.formulairequest {
    display:block;
    margin-right: 200px;
}

/* CSS des colonnes */


[class*="col-"] {
    background-color: rgb(250, 128, 46);
    /*padding: 12px;
    /* Pour que les colonnes aient une taille minimum */
    min-height: 500px;
    max-height: 100%;
    width: 19%;
    overflow: auto;
    /*Couleur et épaisseur des bordures */ 
    border: 3px ridge rgba(0, 0, 0, .6);
    /*Pour arrondir les coins des colonnes*/
    border-radius: 5px;
     /*Couleur et épaisseur des bordures */ 
     border: 3px ridge rgba(0, 0, 0, .6);
     /*Pour arrondir les coins des colonnes*/
     border-radius: 5px;
     /*-moz-box-sizing: border-box; box-sizing: border-box;*/
    /* padding-bottom: 15%;*/
 
     margin-right:1%;     
     margin-bottom:1%;
     
}
[class*="col-6-10"]
{
width: 60%;
  background-size:100%;
  
}
[class*="col-2-10"]
{
width: 18%;
 background-size:100%;
  
}

@media all and (max-width: 500px){
    main {
      width:80%;
    }
    [class*="col-6-10"]
    {
    width: 30%;
      
    }
    [class*="col-2-10"]
    {
    width: 9%;
    }
  }


  main div .colDroite {
        display: block;
        width: 40%;
       /* padding-left: .5rem;
        padding-right: .5rem;*/
        float: right;
       /*background-position : right;*/
      /*  box-shadow: inset 5px 0 5px -5px #29627e;*/
        font-style: italic;
        color:#29627e;

        
        }

        /*debut CSS menu déroulant*/
       .boutonmenuprincipal {
            background-color: #e89537;
            color: white;
            border: none;
            cursor: pointer;
            padding:20px;
            margin-top:20px;
            font-size: 30px;
            }
            .boutonmenuprincipal:hover {
            background-color: #e89537;
            }
            .dropdown {
            position: relative;
            display: inline-block;
            }  /* apparait quand l'utilisateur passe sa souris dessus */ 
            .dropdown-child {
            display: none;
            background-color: #e89537af;
            min-width: 50px;
            }
            .dropdown-child a {
            color: white;
            padding: 20px;
            text-decoration: none;
            display: block;
            }
            .dropdown:hover .dropdown-child {
            display: block;
            } 

    /*formulaire*/

 section img {
     max-width : 50%;
     height : auto;
     display: block;
    margin: 0 auto;
 }
 label {
     text-align: left;
     padding-top:1px;
     margin-right: 0px;
     margin-left: 0px;
     margin-top:0px;
     margin-bottom: 0px;
 }


 section.inputPhoto
 {
     padding-top:10px;
 }
 section {
    padding-top:5px;
     padding-bottom: 0px;
     margin-bottom:200px;
     text-align: left;
     
 }
 form {
     width : 790px;
 }

 h2 {display: block;
     text-align:center;
     width : 800px;
     /*padding-bottom :20px;*/
     text-shadow: rgb(231, 234, 235) 1px 0px 0px, rgb(231, 234, 235) 0.540302px 0.841471px 0px, rgb(231, 234, 235) -0.416147px 0.909297px 0px, rgb(231, 234, 235) -0.989992px 0.14112px 0px, rgb(231, 234, 235) -0.653644px -0.756802px 0px, rgb(231, 234, 235) 0.283662px -0.958924px 0px, rgb(231, 234, 235) 0.96017px -0.279415px 0px;
     
 }
 h3{ font-size:25px;
    text-shadow: rgb(167, 180, 186) 1px 0px 0px, rgb(167, 180, 186) 0.540302px 0.841471px 0px, rgb(167, 180, 186) -0.416147px 0.909297px 0px, rgb(167, 180, 186) -0.989992px 0.14112px 0px, rgb(167, 180, 186) -0.653644px -0.756802px 0px, rgb(167, 180, 186) 0.283662px -0.958924px 0px, rgb(167, 180, 186) 0.96017px -0.279415px 0px;
 }

 section.liste{
     display:block;
     float:left;
     height: 300px;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #fcc7c7b2;
    margin: 5px;
 }

 h3 {
     text-align:center;
 }
 p.listeJeux{
     padding-left :10px;
     padding-bottom:0px;
 }
  article.liste{
    grid-template-columns: repeat(2, 1fr);
  }
  article.formulairequest{
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
    margin-bottom: 0%;
    padding-top:10px;
  }

  aside p {
      text-align : center;
  }

  aside img {
      width: 100%;
  }
